<div>
    <tabset>
        <tab heading="Databases">
            <table class="table  table-hover .table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Collections</th>
                    <th> Size</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody class="anim-fade">
                <tr ng-repeat="db in dbs | orderBy: 'name'">
                    <td class="col-xs-1" scope="row">{{$index + 1}}</td>
                    <td class="col-xs-3">
                        <a ui-sref="db({db_name: db.name})" ng-click="browseDB(db.name)">
                            <i class='fa fa-database fa-fw'></i> {{db.name}}
                        </a>
                    </td>
                    <td class="col-xs-2">{{::db.collections.length}}</td>
                    <td class="col-xs-2">{{::db.stats._size | readableSize}}</td>
                    <td class="col-xs-2">
                        <button ng-click="dropDb(db)" class="btn btn-danger btn-xs"><i class="fa fa-trash fa-fw"></i>
                            Drop
                        </button>
                        <button ng-click="renameDatabase(db.name)" class="btn btn-white btn-xs"><i
                                class="fa fa-pencil fa-fw"></i> Rename
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</div>