[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.nav-tabs>li.active>a {
  background-color:rgba(255, 255, 255, 0.1) !important;
}

body.modal-open .modal {
  background: rgba(0,0,0,0.8);
}

body.modal-open {
  overflow: auto;
}

.table td .btn{
  margin: 0;
}
.breadcrumb a,
.table a {
  text-decoration: none !important;
  outline: none !important;
}

.sidebar .arrow {
  font-size: 20px;
  float: left;
}
.sweet-alert h2 {
  text-shadow: none;
}

.sidebar .arrow:before {
  content: "\e7c3";
  -webkit-transition: 0.1s all ease;
  -moz-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.sidebar .active>a>.arrow:before {
  transform: rotate(90deg);
  /*content: "\f147";*/
}

#page-wrapper .document  span,
#page-wrapper .document  code{
  font-size: 16px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  /*border: none;*/
  /*border-radius: 0;*/
  /*background: #141414;*/
}

#page-wrapper .documents .tools {
  text-align: right;
  margin-bottom: 0;
  margin-right: 14px;
  height: 0px;
  margin-bottom: -20px;
  margin-top: 20px;
}

.modal-dialog.fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
}

#loading-bar .bar {
  background: #ffffff;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #ffffff;
  border-left-color: #ffffff;
}
#loading-bar .peg {
  -moz-box-shadow: #ffffff 1px 0 6px 1px;
  -ms-box-shadow: #ffffff 1px 0 6px 1px;
  -webkit-box-shadow: #ffffff 1px 0 6px 1px;
  box-shadow: #ffffff 1px 0 6px 1px;
}

#side-menu ul.nav {
  display: none;
}

#side-menu.animate ul.nav {
  /*transition: max-height 0.4s ease-out;*/
}

#side-menu .active ul.nav {
  /*display: block; */
}
