[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body.modal-open .modal {
  background: rgba(0,0,0,0.8);
}

body.modal-open {
  overflow: auto;
}

.table td .btn{
  margin: 0;
}
.breadcrumb a,
.table a {
  text-decoration: none !important;
  outline: none !important;
}

.sidebar .arrow {
  float: none !important;
  width: 10px;
}
.sweet-alert h2 {
  text-shadow: none;
}

.sidebar .fa.arrow:before {
  content: "\f105";
}

.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

#page-wrapper .document  span,
#page-wrapper .document  code{
  font-size: 16px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  /*border: none;*/
  /*border-radius: 0;*/
  /*background: #141414;*/
}

#page-wrapper .documents .tools {
  text-align: right;
  margin-bottom: 0;
  margin-right: 14px;
  height: 0px;
  margin-bottom: -20px;
  margin-top: 20px;
}

.modal-dialog.fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
}

#loading-bar .bar {
  background: #ffffff;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #ffffff;
  border-left-color: #ffffff;
}
#loading-bar .peg {
  -moz-box-shadow: #ffffff 1px 0 6px 1px;
  -ms-box-shadow: #ffffff 1px 0 6px 1px;
  -webkit-box-shadow: #ffffff 1px 0 6px 1px;
  box-shadow: #ffffff 1px 0 6px 1px;
}

#side-menu ul.nav {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

#side-menu .active ul.nav {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}
